html{
background-color: black;
}


h1{
color: white;
text-align: center;
text-shadow: 3px 1px #a83242;
font-family: 'Montserrat', sans-serif;
  font-size: 64px;
}

.container {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: black;
}

.button{
  color: white;
  background-color: #555555;;
  width: 30%;
  display: inline-block;
font-family: 'Montserrat', sans-serif;
font-size: 30px;
text-align: left;
}

.button:hover {
  background: #8b0000;
  color: #FFF;
}


#spacearound {
justify-content: space-around;
}

.resume{
background-color: lightgray;
border-radius: 3px;
border-color: white;
border-style: solid;
color: black;
padding: 10px 15px;
margin: 40px;
overflow: scroll;
display: flex;

}

#resume-left{
  display: inline-block;
  width: 40%;
}

#resume-right{
  display: inline-block;
  float:right;
  text-align:right;
  margin-left: 60px;
  width: 40%;

}


/* Spagetthi Code */
.piechart {  
            width: 300px; 
            height: 300px; 
            border-radius: 50%; 
            background-image: conic-gradient(  
/* Linux */ maroon 0 30deg,
/* Javascript */ orange 0 60deg,
/* HTML/CSS */ green 0 90deg,
/* C++ */ purple 0 180deg,
 /* Java */ #339999 0 280deg); 
        } 
  
        body, 
        .piechart { 
            justify-content: left; 
            align-items: left; 
        } 
