body{
background-color: black;
}


h1{
color: white;
text-align: center;
text-shadow: 3px 1px #a83242;
}

#resume{
background-color: lightgray;
border-radius: 3px;
color: black;
padding: 10px 15px;
}
