/* 
    Class: .class
    ID: #id
*/

html{
background-image: url("/Screen Shot 2020-12-09 at 11.42.12 PM.png"); /* WHAAAAAAT A URL */
background-size: auto; /*cover */
background-repeat: no-repeat;
background-color:beige;
}

h1{
color: white;
text-align: center;
text-shadow: 3px 1px #a83242;
font-family: 'Montserrat', sans-serif;
  font-size: 64px;
}

.container {
  height: 70px;
  width: 100%;
  display: flex;
}

.button{
  color: white;
  background-color: #555555;;
  width: 27%;
  display: inline-block;
font-family: 'Montserrat', sans-serif;
font-size: 30px;
text-align: left;
 
}

.button:hover {
  background: #8b0000;
  color: #FFF;
}


#spaceevenly {
justify-content: space-evenly;
}

.resume{
background-color: lightgray;
border-radius: 3px;
border-color: white;
border-style: solid;
color: black;
padding: 10px 15px;
overflow: scroll;
display: flex;
  margin: 50px;
      opacity: 0.8;

}

#resume-left{
  display: inline-block;
  width: 40%;
font-size: 24px;

}

#resume-right{
  display: inline-block;
  float:right;
  text-align:left;
  width: 55%;
  font-size: 24px;

}


/* Spagetthi Code 
.piechart {  
            width: 370px; 
            height: 370px; 
            border-radius: 50%; 
            margin-bottom: 60px;
            margin-right: 20px;

            background-image: conic-gradient(  
*/
/* Linux  maroon 0 30deg, */
/* Javascript  orange 0 60deg, */
/* HTML/CSS  green 0 90deg, */
/* C++  purple 0 180deg, */
 /* Java  #339999 0 280deg);  */
       /* } 
  
        body, 
        .piechart { 
            justify-content: left; 
        } 
*/

@media only screen and (max-width: 600px) {
  
}

.projects{
background-color: lightgray;
border-radius: 3px;
border-color: white;
border-style: solid;
color: black;
padding: 10px 15px;
overflow: scroll;
display: flex;
  margin: 50px;
      opacity: 0.8;

}
