/* 
    Class: .class
    ID: #id
*/

html{
/* background-image: url("/background.png"); */
background-size: cover;
background-repeat: no-repeat;
background-color: #E0A890;
background-position: center; 
height: 100%;
}

h1{
color: white;
text-align: center;
text-shadow: 3px 1px #a83242;
font-family: 'Montserrat', sans-serif;
  font-size: 64px;
}

h2{
color: white;
text-align: center;
text-shadow: 3px 1px #a83242;
font-family: 'Montserrat', sans-serif;
}

.project{
background-image: url("/arcade.jpg");
background-size: cover;
background-repeat: no-repeat;
background-color: #E0A890;
background-position: center; 
height: 100%;
}

.highnoon {
background-image: url("/HighNoon.png");
background-size: cover;
background-repeat: no-repeat;
background-color: #E0A890;
background-position: center; 
height: 100%;
}
/* spaghetti */
.gameshelf {
  display: block;
  z-index: 9;
  /*content: url("https://i.imgur.com/1QepZRl.png");*/
  content: url("/shelf.png");
  position: relative;
  width: 941px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
}
/* spaghetti */
.stuffonshelf {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 10;
  margin-bottom: -120px; /* This is what actually puts the stuff ON the shelf instead of hovering above it. */
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.highnoongame { /* contains tile art for highnoon */
  width: 200px;
  height: 200px;
  border: 1px solid white;
  content: url("cowboyhat.png");
    filter: drop-shadow(10px 10px 4px #000000);
}

.highnoongame:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px); /* handles chrome */
  box-shadow: 0px 1px 0px 0px;
}

/*
.cabingame {  
  width: 200px;
  height: 200px;
  content: url("cabingame.png");
  filter: drop-shadow(10px 10px 4px #000000);"
}

.cabingame:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
*/

.container {
  height: 70px;
  width: 100%;
  display: flex;
}

.button{
  color: white;
  background-color: #555555;
  width: 27%;
  display: inline-block;
font-family: 'Montserrat', sans-serif;
font-size: 30px;
text-align: left;
}

.button:hover {
  background: #993333;
  color: #FFF;
}

.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin:hover {
    animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


#spaceevenly {
justify-content: space-evenly;
}

@media only screen and (max-width: 480px) {
  #spaceevenly{
     width: 80%;
     justify-content: center;
     display: flex;
     flex-direction: column;
    }
}
