
.highnoon {
    background-image: url("../img/HighNoonBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #E0A890;
    background-position: center; 
    height: 100%;
    }